<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <add key="exePath" value="C:\Program Files\Python311\python.exe"/>
	  <add key="filePath" value="C:\Users\User\Desktop\Test.py"/>
	  <add key="sentenceRankPath" value="C:\Users\User\Desktop\SentencesRank.py"/>
  </appSettings>
</configuration>